/* || RESETS */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

/* || GENERAL */
:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --light-cyan: hsl(172.6, 61.3%, 76.7%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    min-height: 100vh;
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 5.375rem;
    margin: 3.125rem 0 2.5rem 0;
}

.main {
    flex: 1;
    background-color: var(--white);
    color: var(--dark-grayish-cyan);
    padding: 2rem;
    border-top-left-radius: 1.563rem;
    border-top-right-radius: 1.563rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-width: 100vw;
}

/* || USER INFO SECTION */
.user-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-info__input {
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    border: none;
    text-align: right;
    padding: 0 1rem 0 0;
    border-radius: 0.313rem;
}

.user-info__input:focus {
    outline: none;
    border: 0.125rem solid var(--strong-cyan);
    padding: 0 0.875rem 0 0; /* subtract border size from padding */
}

.user-info__input-container {
    position: relative;
}

.icon {
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

.tip-btn {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 0.313rem;
    font-size: 1.5rem;
    padding: 0.375rem 0 0.375rem 0;
    cursor: pointer;
}

.tip-btn:hover {
    background-color: var(--light-cyan);
    color: var(--very-dark-cyan);
}

.user-info__label--bill,
.user-info__label--people {
    display: inline-block;
    margin: 0 0 0.375rem 0;
}

.user-info__label--tip {
    display: inline-block;
    margin: 0 0 1rem 0;
}

.tip-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

/*  || RESULTS SECTION */
.results {
    border-radius: 0.938rem;
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2.313rem 1.5rem 1.5rem 1.5rem;
}

.calculated-data {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
    width: 100%;
}

.data-item {
    display: flex;
    justify-content: space-between;
}

.data-item__price {
    color: var(--strong-cyan);
    font-size: 2rem;
}

.data-item__title {
    color: var(--white);
}

.data-item__subtitle {
    color: var(--grayish-cyan);
    font-size: 0.813rem;
}

.btn__reset {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    font-size: 1.25rem;
    border: none;
    border-radius: 0.313rem;
    min-width: 17.5rem;
    padding: 0.563rem 0 0.563rem 0;
    cursor: pointer;
}

.btn__reset:hover {
    background-color: var(--light-cyan);
}

/* DESKTOP */
@media (min-width: 1440px) {
    /* || GENERAL */
    .logo {
        margin: 10.188rem 0 5.5rem 0;
    }

    .main {
        flex: 0;
        flex-direction: row;
        border-radius: 1.563rem;
    }

    /* || USER INFO SECTION */
    .user-info {
        gap: 2.5rem;
        padding: 1rem;
        max-width: 25.688rem;
    }

    .tip-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /*  || RESULTS SECTION */
    .results {
        padding: 2.5rem;
        gap: 0;
        justify-content: space-between;
    }

    .calculated-data {
        gap: 1.563rem;
    }

    .data-item__price {
        font-size: 3rem;
    }

    .btn__reset {
        min-width: 20.813rem;
    }
}
